---
import { getLatestLaunchById, getLatestLaunches } from '../../services/spacex'
import Layout from "../../layouts/Layout.astro"

// Solo si quiero server side rendering
// export const prerender = false

const { id } = Astro.params

const launch = await getLatestLaunchById(id!)

export async function getStaticPaths() {
    const launches = await getLatestLaunches()

    return launches.map(launch => ({
        params: {
            id: launch.id
        }
    }))
}
---


<Layout title={`Launch #${launch.id}`}>
    <article class="flex gap-y-4 flex-col">
        <img
            class="w-52 h-auto"
            src={launch?.links.patch.small}
            alt={launch?.name}
        >
        <h2 class="text-4xl text-white font-bold">Launch #{launch.flight_number}</h2>
        <p class="text-lg text-white">{launch?.details}</p>
    </article>
</Layout>
